[server]
listen_addr = ":25"
domain = "example.org"
tls_cert_file = "/etc/letsencrypt/live/"
tls_key_file = "/etc/letsencrypt/live/"


[nje]
punch_path = "/usr/local/bin/punch"
receive_path = "/usr/local/bin/receive"

run_as_user = "smtp"
distribution = "STANDARD" 
class = "A"
form = "STANDARD" 

[spool]
directory = "/var/spool/bitnet"

[routing]
default_action = "delete"
error_recipient = "maint"
rscs_node = "EXAMPLE"
smtp_node = "SMTP"
dkim_key_path = "./dkim_private.pem"
dkim_selector = "default"
